.toggleButton {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--light);
  border-radius: 10px;
  background-color: var(--grey);
  color: var(--light);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.toggleButton:hover {
  background-color: var(--light);
  color: var(--dark);
}