.statsContainer {
  width: 90vw;
}

.statsRow {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 25px;
  /* Mobile-first font size */
  color: var(--light);
  font-weight: bold;
}

.value {
  font-size: 40px;
  /* Mobile-first font size */
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 20px;
  /* Mobile-first margin-bottom */
  margin-top: -8px;
  /* Mobile-first margin-top */
}

.hidden {
  opacity: 0;
  animation: appear 0.150s linear forwards;
}

.hidden.first {
  animation-delay: 0s;
}

.hidden.second {
  animation-delay: 0.6s;
}

.hidden.third {
  animation-delay: 1.2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 541px) {
  .label {
    font-size: 30px;
    /* Tablet font size */
  }

  .value {
    font-size: 40px;
    /* Tablet font size */
    margin-bottom: 30px;
    /* Tablet margin-bottom */
    margin-top: -5px;
    /* Tablet margin-top */
  }
}

@media screen and (min-width: 769px) {
  .label {
    font-size: 45px;
    /* Small desktop font size */
  }

  .value {
    font-size: 70px;
    /* Small desktop font size */
    margin-bottom: 30px;
    /* Small desktop margin-bottom */
    margin-top: -10px;
    /* Small desktop margin-top */
  }
}

@media screen and (min-width: 1025px) {
  .statsContainer {
    width: clamp(1000px, 75vw, 2000px);
  }

  .label {
    font-size: 40px;
    /* Large desktop font size */
  }

  .value {
    font-size: 80px;
    /* Large desktop font size */
  }
}