.gameContainer {
  display: block;
  position: relative;
  width: 85vw;
}

.roundContainer {
  position: absolute;
  top: -90px;
  left: 0;
  right: 0;
}

.roundLabel {
  font-size: 24px;
  color: var(--light);
  font-weight: bold;
}

.roundNumber {
  font-size: 30px;
  margin-left: 10px;
  color: var(--yellow);
  font-weight: bolder;
}

.scoreContainer {
  position: absolute;
  top: -90px;
  right: 0;
}

.scoreValue {
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-size: 24px;
  color: var(--yellow);
  font-weight: bold;
}

.scoreLabel {
  font-size: 24px;
  color: var(--light);
  font-weight: bolder;
}

.stratagemImagesContainer {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
}

.stratagemImageWrapper {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

/* add yellow glow filter to the image */
.stratagemImageWrapper.active.blink {
  animation: blink 0.3s linear;
}

@keyframes blink {
  0% {
    filter: drop-shadow(0 0 0px var(--yellow));
  }

  100% {
    filter: drop-shadow(0 0 2px var(--yellow));
  }
}


.stratagemImageWrapper img {
  height: 100%;
  width: 100%;
}

.stratagemImageWrapper.active {
  height: 90px;
  width: 90px;
  padding: 10px;
}

.stratagemImageWrapper.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 5px solid var(--yellow);
}

.stratagemImageWrapper:not(.active) {
  filter: opacity(0.6);
}


.stratagemImageWrapper.active.danger::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  border: 5px solid var(--danger);
}

.stratagemImage {
  width: 100%;
  height: 100%;
}

.stratagemName {
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
  font-weight: bolder;
  margin-top: -5px;
  letter-spacing: 1.5px;
}

.keysContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 15px 0 30px 0;
}

.key {
  height: 35px;
}

.timeBarContainer {
  width: 100%;
  height: 20px;
  position: relative;
  background-color: var(--darkerlightgrey);
  margin: 0 auto;
}

.timeBar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media screen and (min-width: 769px) and (max-width: 1080px) {
  .gameContainer {
    width: 70vw;
  }

  .roundContainer {
    top: -120px;
    left: -10px;
  }

  .roundLabel {
    font-size: 30px;
  }

  .roundNumber {
    font-size: 40px;
    margin-left: 15px;
  }

  .scoreContainer {
    top: -120px;
    right: -10px;
  }

  .scoreValue {
    font-size: 35px;
  }

  .scoreLabel {
    font-size: 35px;
  }

  .stratagemImagesContainer {
    width: 600px;
  }

  .stratagemImageWrapper {
    height: 70px;
    width: 70px;
  }

  .stratagemImageWrapper.active {
    height: 120px;
    width: 120px;
    padding: 15px;
  }

  .stratagemName {
    font-size: 30px;
    padding: 0;
  }

  .keysContainer {
    margin: 15px 0 45px 0;
  }

  .key {
    height: 40px;
  }

  .timeBarContainer {
    width: 80%;
    height: 25px;
  }
}

@media screen and (min-width: 1081px) {
  .gameContainer {
    width: auto;
  }

  .roundContainer {
    top: -15px;
    left: -180px;
  }

  .roundLabel {
    font-size: 40px;
  }

  .roundNumber {
    font-size: 50px;
    margin-left: 15px;
  }

  .scoreContainer {
    top: -15px;
    right: -180px;
  }

  .scoreValue {
    font-size: 45px;
  }

  .scoreLabel {
    margin-top: -20px;
    font-size: 45px;
  }

  .stratagemImagesContainer {
    width: 700px;
    overflow-x: hidden;
  }

  .stratagemImageWrapper {
    height: 87px;
    width: 87px;
  }

  .stratagemImageWrapper.active {
    height: 150px;
    width: 150px;
    padding: 15px;
  }

  .stratagemName {
    font-size: 36px;
    padding: 0;
  }

  .keysContainer {
    margin: 15px 0 60px 0;
  }

  .key {
    height: 50px;
  }

  .timeBarContainer {
    width: 660px;
    height: 30px;
  }
}

.retryButton {
  position: fixed;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 46px;
  padding: 0 20px;
  color: var(--dark);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  color: var(--light);
  font-size: 18px;
  font-weight: bold;
  transition: all 0.2s;
  flex-shrink: 0;
}

.retryButton:hover,
.retryButton:focus {

  outline: 4px solid var(--yellow);
}

@media screen and (max-width: 540px) {
  .retryButton {
    position: fixed;
    top: 15px;
    left: 15px;
    transform: none;
    bottom: unset;
  }

}