.mainContainer {
  height: 70svh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid var(--light);
  border-bottom: 3px solid var(--light);
  background-image: url(./assets/emblem.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.iconContainer {
  position: fixed;
  top: 10px;
  right: 10px;
}

.welcomeButton {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: var(--yellow);
  color: var(--dark);
  border: 3px solid var(--grey);
  box-shadow: 0 0 2px 0 var(--yellow);
  cursor: pointer;
  border-radius: 12px;
  font-family: var(--font);
  font-weight: bold;
}